<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
    <route id="layout_move_example" frontName="layout_move_example">
        <module name="training_layoutmoveexample" />
    </route>   
    </router>
</config>